<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="/css/styles.css">
    <h1 style="text-align:center">Welcome to Idea Board</h1>
    <h1 style="text-align:center">Create a new account</h1>
  <nav>
    <ul>
      <li><a href="/users">Home Page</a></li>
      <li><a href="/users/new">New User</a></li>
    </ul>
  </nav>
  <body>
    <div class="container" id="indexcontainer">
        <% for(let i = 0; i < users.length; i++) { %>
        <a href="/users/<%=users[i].id%>">
        <img src="<%=users[i].item_image%>"></a>
      <% } %>
    </div>
  </body>
</html>
