<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <li><a href="/users">Home Page</a></li>
  </head>
  <body>
    <h1>Create New User</h1>
    <form action="/users" method="POST">
      First Name: <input type="text" name="first_name"><br/>
      Last Name:  <input type="text" name="last_name"><br/>
      Username:   <input type="text" name="username"><br/>
      Password:   <input type="password" name="password"><br/>
      Description: <input type="text" name="item_description"><br/>
      Title: <input type="text" name="item_title"><br/>
      Image Url: <input type="text" name="item_image"> <br/>
      <input type="submit" name="" value="Create new">
    </form>
  </body>
</html>
