/* h1  {
  text-align: center;
} */

/* .container {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
} */

/* .square {
  background-color: rgb(255, 251, 218);
  width: 225px;
  height: 225px;
  position: relative;
} */

/* textarea {
  width: 95%;
  height: 60%;
  font-size: 1rem;
  background: transparent;
}

input {
  width: 95%;
  background: transparent;
} */

.container {
  max-width: 37.5em;
  margin: auto;
  margin-top: 2em;
  border: 1px solid black;
}

#indexcontainer {
  min-width: 95%;
}

img {
  height: 200px;
  width: 50;
  border-radius: 50%
}

body{
 background-color: #000000;
padding: 0px;
margin: 0px;
}

#gradient
{
width: 100%;
height: 800px;
padding: 0px;
margin: 0px;
}

h1 {
  color: white;
}
